{% extends 'base.html' %}
<!--Easy Mask-->
{%load easy_mask %}
<!--Conteudo-->
{% block conteudo %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <!--Operação FOR-->
    {% for diarista in diaristas %}
    <td>{{diarista.id}}</td>
    <td>{{diarista.nome_completo}}</td>
    <td>{{diarista.email}}</td>
    <td>{{diarista.cep | cep }}</td>
    <td>{{diarista.telefone | phone }}</td>
    <td>
      <a href="{% url 'remover_diarista' diarista.id %}" class="btn btn-primary"
        >Remover</a
      >
      <a href="{% url 'editar_diarista' diarista.id %}" class="btn btn-primary"
        >Editar</a
      >
    </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
